<h1>Editing Room</h1>

<%= render 'form' %>

<%= link_to  rooms_path, class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Regresar
<% end %> | <%= link_to  @room, class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-th-list"></i> Mostrar
<% end %>
